@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@400;800&display=swap');

body { margin: 0; padding: 0; font-size: 16px; background: rgb(88,121,140);
  background: linear-gradient(180deg, rgba(88,121,140,1) 0%, rgba(35,75,98,1) 100%); color: #f8f6b2; min-height: 100vh; }

h1 { position: relative; font-size: 6em; font-family: 'Fredoka One', cursive; margin: 1em auto 0; text-align: center; background-image: linear-gradient(180deg, #f8f6b2 28%, #b9944d 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;  -moz-background-clip: text; -moz-text-fill-color: transparent; }
h1:after { width: 100vw; background: none; content: attr(data-text); position: absolute; left: 0; top: 0; z-index: -1; text-shadow: 0 3px 2px rgb(46, 82, 104); }
p { font-size: 3em; font-family: 'Nunito', sans-serif; font-weight: 800; text-align: center; margin: 0.5em auto 0; }

button { font-size: 1.6em; background:rgb(233, 167, 113); border: none; display: block; margin: 3em auto; border-radius: 6px; box-shadow: 0 3px 2px rgb(46, 82, 104); padding: 0.8em; color:rgb(105, 26, 9); }
button:hover { background:rgb(247, 195, 152); box-shadow: 0 1px 2px rgb(46, 82, 104); }