@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body { margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; background: #f7f7f7; color: #333; font-size: 16px; line-height: 1.4em; }

h1 { position: relative; font-size: 1.6em; font-weight: 400; display: inline-block; margin: 1em 1em 1em 0; padding: 0.3em 0 0 1.8em; }
h1::before { height: 1.6em; width: 1.6em; content: ' '; position: absolute; left: 0; top: 0; background: url('brens-lab-dark.svg') no-repeat; }

h2 { font-size: 2em; line-height: 1.2em; margin: 0 0 1.2em 0; }

h3 { font-size: 1.6em; margin: 0 0 0.8em; }
h4, label { font-size: 1.2em; font-weight: 800; }

header, .hero, .content { margin: 0 auto; max-width: 1200px; width: 80vw; }
.hero, .section { margin: 3em auto; }
.section, footer { width: 100%; padding: 2.8em 0; }
footer { margin-top: 3em; background: #666; color: #fff; }
footer .content { margin-bottom: 8em; }

figure { margin: 0; }
.hero figure { margin-left: 2em; }
img { border: 1px solid #333; border-radius: 4px;}

.centered { text-align: center; padding: 0 5%; box-sizing: border-box; }

.flex { display: flex; flex-wrap: nowrap; }
.center { justify-content: center; }
.between { justify-content: space-between; }

nav { margin: 1em 0 0 0; }
nav a { font-size: 1em; font-weight: 400; display: inline-block; padding: 0.5em 1.25em; text-decoration: none; border-right: 1px solid #333; }
nav a:hover { text-decoration: underline; }
nav a:last-child { border-right: none; }

footer nav a { border: none; }
footer nav a:first-child { padding-left: 0; }

button { background: #666; color: #fff; text-transform: capitalize; padding: 0.8em 1em; border: none; border-radius: 4px; margin: 0 1em; font-size: 1em; }
.button { background: #666; color: #fff; text-transform: capitalize; padding: 0.8em 1em; border-radius: 4px; margin-top: 0.7em; display: inline-block ;}

.grey { background: #eaeaea; }

.hide { display: none; }

.cookieBanner { position: fixed; left: 0; bottom: 0; z-index: 3; padding: 1em 2em; box-sizing: border-box; width: 100vw; height: fit-content; background: #f7f7f7; box-shadow:  0 -3px 6px 0 rgba(0, 0, 0, 0.15);}
.cookieBanner div:first-of-type { width: 70%; }
.cookieBanner p.button { margin: 1em 1em 0 0; }
.actions { width: 30%; display: flex; justify-content: center; align-items: start; }
.actions button { width: 45%; }

@keyframes darken {
  from { background: rgba(0, 0, 0, 0); }
  to { background: rgba(0, 0, 0, 0.5); }
}

@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

.backdrop { position: fixed; z-index: 1; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); animation-name: darken; animation-duration: 0.2s; backdrop-filter: blur(2px); }
.consentPopUp { position: fixed; z-index: 2; top: 10vh; height: 70vh; padding: 2.5em; border-radius: 12px; overflow: auto; left: 50vw; transform: translate(-50%, 0); background: #f7f7f7; color: #234b62; box-shadow:  0 8px 12px 0 rgba(0, 0, 0, 0.15); animation-name: appear; animation-duration: 0.1s; opacity: 1;}
.consentPopUp p { font-size: 1em; font-weight: 400; text-align: left; }

.choices { margin: 1em 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;  }
.choice { border-bottom: 1px solid #ccc; padding: 1.6em 0; }
.choices button, .yay .choices button { background: #f7f7f7; color: #333; margin: 0; font-size: 1em; text-transform: uppercase; box-shadow: none; width: 50%; padding: 0.8em 0; }
.choices button:hover, .yay .choices button:hover { background: #eee; }

form .actions { overflow: auto; }
form .actions button { width: 100%; }
form button, .yay form button { background: #234b62; color: #fff; box-shadow: none; padding: 0.8em 1em; font-size: 1em; text-transform: uppercase; margin: 1.2em 0 0; float: right; }
form button:hover, .yay form button:hover { background: #2d9fa8; }

input { opacity: 0; width: 0; height: 0; }
div.control { position: relative; width: 55px; height: 32px; border-radius: 16px; background: #ddd; border: 1px solid #bbb; }
div.control.active { background: #eee; }
div.control.active::after { content: ' '; position: absolute; height: 30px; width: 30px; top: 1px; left: 25px; border-radius: 50%; background: #4bc4aa; animation: slideIn 0.1s ease-in; }
div.control.inactive::after { content: ' '; position: absolute; height: 30px; width: 30px; top: 1px; left: 1px; border-radius: 50%; background: #bbb; animation: slideOut 0.1s ease-in; }

