@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@400;800&display=swap');

body { margin: 0; padding: 0; font-size: 16px; background: rgb(88,121,140);
  background: linear-gradient(180deg, #58798c 0%, #234b62 100%); color: #f8f6b2; min-height: 100vh; overflow: hidden; }

body.yay { background: linear-gradient(180deg, #cfeb92 0%, #90da95 100%); color: #234b62; }

h1, p, a { font-family: 'Nunito', sans-serif; }
h1 { position: relative; font-size: 1.6em; font-weight: 400; display: inline-block; margin: 1em 1em 1em 5vw; padding: 0.3em 0 0 1.8em; }
h1::before { height: 1.6em; width: 1.6em; content: ' '; position: absolute; left: 0; top: 0; background: url('brens-lab-light.svg') no-repeat; }
.yay h1::before { background: url('brens-lab-dark.svg'); }

h2 { position: relative; font-size: 6em; font-family: 'Fredoka One', cursive; margin: 1em auto 0; text-align: center; background-image: linear-gradient(180deg, #f8f6b2 28%, #b9944d 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;  -moz-background-clip: text; -moz-text-fill-color: transparent; }
h2:after { width: 100vw; background: none; content: attr(data-text); position: absolute; left: 0; top: 0; z-index: -1; text-shadow: 0 3px 2px #2e5268; }
p { font-size: 3em; font-weight: 800; text-align: center; margin: 0.5em auto 0; }

.yay h2 { background-image: linear-gradient(180deg, #58798c 28%, #234b62 100%); }
.yay h2:after { text-shadow: 0 3px 2px #59ab5f; }

nav { margin: 1em 5vw 0 0; }
nav a { font-size: 1em; font-weight: 400; display: inline-block; padding: 0.5em 1.25em; color: #f8f6b2; text-decoration: none; border-right: 1px solid #f8f6b2; }
nav a:hover { text-decoration: underline; }
nav a:last-child { border-right: none; }

.flex { display: flex; flex-wrap: nowrap; }
.center { justify-content: center; }
.between { justify-content: space-between; }

button { font-size: 1.6em; background:#e9a771; border: none; display: block; margin: 3em 1em; border-radius: 6px; box-shadow: 0 3px 2px #2e5268; padding: 0.8em; color:#691a09; }
button:hover { background:#f7c398; }

button.delete { background: none; border: 8px solid #e9a771; color: #e9a771; box-sizing: border-box; }
button.delete:hover { border-color: #f7c398; color: #f7c398; }

.yay button { background: #1e705d; box-shadow: 0 3px 2px #90da95; color: #f8f6b2; }
.yay button:hover { background: #2b8570; }
.yay button.delete { background: none; border-color: #1e705d; color: #1e705d; }
.yay button.delete:hover {  border-color: #2b8570; color: #2b8570; }

@keyframes emerge {
  from { bottom: -317px; }
  to { bottom: 0; }
}

main img { position: fixed; bottom: -317px; right: 2em; }
.yay main img { bottom: 0; animation: emerge 0.6s ease-in; }